<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <APP.Properties.Settings>
            <setting name="Baudrate" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Extender" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CanId1" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="CanId2" serializeAs="String">
                <value>515</value>
            </setting>
            <setting name="CanId3" serializeAs="String">
                <value>516</value>
            </setting>
            <setting name="CanId4" serializeAs="String">
                <value>517</value>
            </setting>
            <setting name="CanId5" serializeAs="String">
                <value>518</value>
            </setting>
            <setting name="CanId6" serializeAs="String">
                <value>519</value>
            </setting>
            <setting name="Hard1" serializeAs="String">
                <value />
            </setting>
            <setting name="Hard2" serializeAs="String">
                <value />
            </setting>
            <setting name="Hard3" serializeAs="String">
                <value />
            </setting>
            <setting name="Hard4" serializeAs="String">
                <value />
            </setting>
            <setting name="Hard5" serializeAs="String">
                <value />
            </setting>
            <setting name="Hard6" serializeAs="String">
                <value />
            </setting>
            <setting name="Valid1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Valid2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Valid3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Valid4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Valid5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Valid6" serializeAs="String">
                <value>False</value>
            </setting>
        </APP.Properties.Settings>
    </userSettings>
</configuration>